@use "./common.scss" as *;

.App {
  min-width: 15rem;
  overflow: hidden;
  max-width: 120rem;
  margin: 0 auto;
  &__banner {
    background-image: $banner-mobile-img;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
  }
  &__main {
    background: $highlight-bg;
  }
  &__testimonials-container {
  }
  &__testimonials {
    color: $neu-gray-blue;
    margin: 3rem;
  }
  &__testimonials-heading {
    font-size: calc(1rem + 1vw);
  }
  &__image-gallery {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 48rem) {
  .App {
    &__banner {
      background-image: $banner-desktop-img;
    }
    &__highlights {
      display: flex;
    }
    &__testimonials {
      margin-right: 1rem;
      margin-left: 1rem;
    }
    &__image-gallery {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (min-width: 64rem) {
  .App {
    &__testimonials {
      margin-top: 7.5rem;
      margin-bottom: 7.5rem;
    }
    &__testimonials-heading {
      margin-bottom: 3rem;
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 64rem) and (min-height: 45rem) {
}
