// primary colors

$prim-red: hsl(7, 99%, 70%);
$prim-yellow: hsl(51, 100%, 49%);
$prim-graphic: hsl(167, 40%, 24%);
$prim-photography: hsl(198, 62%, 26%);
$prim-footer: hsl(168, 34%, 41%);

// neutral colors

$neu-very-dark-blue: hsl(212, 27%, 19%);
$neu-very-dark-gray-blue: hsl(213, 9%, 39%);
$neu-dark-gray-blue: hsl(232, 10%, 55%);
$neu-gray-blue: hsl(210, 4%, 67%);
$neu-white: hsl(0, 0%, 100%);

$menu: hsl(192, 100%, 76%);
$footer-bg: hsl(167, 44%, 70%);
$highlight-bg: hsl(26, 100%, 99%);
$cta-highlight-bg: #6fcfff;

// typography

$font-barlow: "Barlow", sans-serif;
$font-fraunces: "Fraunces", sans-serif;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;
$font-size: 18px;

//background images

$banner-desktop-img: url(./images/desktop/image-header.jpg);
$banner-mobile-img: url(./images/mobile/image-header.jpg);
