@use "./common.scss" as *;

body {
  font-family: $font-fraunces;
  font-size: $font-size;
  font-weight: $font-semi-bold;
  text-align: center;
  min-width: 18.75rem;
}

/* screen reader only class */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  color: $neu-white;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  outline: none;
  text-decoration: none;
  &:focus-visible {
    outline: 0.2rem dashed $neu-white;
    outline-offset: 0.25rem;
    color: $neu-very-dark-blue;
  }
  &:hover {
    color: $neu-very-dark-blue;
  }
}
button {
  &:focus-visible {
    outline: 0.2rem dashed $neu-white;
    outline-offset: 0.25rem;
    color: $neu-very-dark-blue;
  }
  &:hover {
    color: $neu-very-dark-blue;
  }
}

@media only screen and (min-width: 64rem) {
  body {
    align-items: center;
    min-height: 100vh;
  }
}

/* no animations for users who prefer reduced animations */

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation-duration: 0ms !important;
  }
  *,
  *:before,
  *:after {
    transition-duration: 0ms !important;
  }
}
